/*
*General
*/



body {
    background-color: #fcf9f9;
    font-weight: 300;
    
}

h4 {
    font-weight: 700;
    font-family: 'Tangerine', cursive;
    letter-spacing: -1.2px;
    padding-bottom: 40px;
    font-size: 150%;
}

a {
    text-decoration: none;
    display:inline-block;
}

.container{
    width: 100;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right{
    float: right;
}

.clearfix {
    clear: both;
}

.section-content {
    color: #3a3a3a;
    
    float: left;
    width: 340;
}

.section-device {
    float: right;
    position: relative;
    top: 65px;
    padding-right: 70;
}

.section-device img {
    width: 600;
}

.btn-primary {
    background: #4285f4;
    border: 1px solid #1266f1;
    color: #ffffff;
    
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.23px;
    
}






