{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <section class="container">

            <article class="section-content">
               
                    
                 <h4>Discover places <br/>near you.</h4>
            
            
                <a href="{{ url_for('signup') }}" class="btn-primary">SIGN UP</a>
                <a href="{{ url_for('about') }}" class="btn-secondary">Learn More</a>
            </article>
        </section>


        <article>
            <div class="section-device">
                <img src="/static/img/device.PNG">
            </div>
        </article>    
            <div class="clearfix"></div>
                
        </div>

    </main>
{% endblock %}