{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">

            <div class="section-content">
               
                    
                 <h2>Discover places near you.</h2>
                
                <a href="#"class="btn-primary">SIGN UP</a>
                <a href="#" class="btn-secondary">Learn More</a>
            </div>
        <article>
            <div class="section-device">
                <img src="/static/img/device.PNG">
            </div>
        </article>    
            <div class="clearfix"></div>
                
        </div>

    </main>
{% endblock %}